In [1]:
import nltk

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\esshwar\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
import pandas as pd

In [4]:


fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [5]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [6]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [7]:
display(genuine.head(10))

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [8]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [9]:
fake['target'] = 0
genuine['target'] = 1

In [10]:
display(genuine.head(10))

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",1
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017",1
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017",1

In [11]:
display(fake.head(10))

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [12]:
data = pd.concat([fake,genuine], axis=0)

In [13]:
data = data.reset_index(drop=True)

In [14]:
data = data.drop(['subject','date','title'], axis=1)

In [15]:
print(data.columns)

Index(['text', 'target'], dtype='object')

### TOKENIZATION

In [16]:
from nltk.tokenize import word_tokenize

In [17]:
data['text'] = data['text'].apply(word_tokenize)

In [18]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

### STEMMING

In [19]:
from nltk.stem.snowball import SnowballStemmer

porter = SnowballStemmer("english")

In [20]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [21]:
data['text'] = data['text'].apply(stem_it)

In [22]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

### STOPWORD REMOVAL

In [23]:
# from nltk.corpus import stopwords
# nltk.download('stopwords')

In [24]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [25]:
data['text'] = data['text'].apply(stop_it)

In [26]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [27]:
data['text'] = data['text'].apply(' '.join)

### SPLITTING

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['target'], test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

32700    reuter feder judg alabama has issu perman inju...
29985    washington reuter u.s. hous repres speaker pau...
16453    boy this get good bill clinton now accus the f...
27949    reuter highlight for u.s. presid donald trump ...
38635    jakarta reuter indonesia speaker parliament wa...
Name: text, dtype: object

32700    1
29985    1
16453    0
27949    1
38635    1
Name: target, dtype: int64

### VECTORIZATION

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [30]:
print(tfidf_train)

  (0, 8248)	0.027571262639087518
  (0, 89526)	0.014929542825219038
  (0, 30548)	0.02636231466796934
  (0, 68722)	0.0289216994180331
  (0, 81720)	0.017256531654190593
  (0, 11437)	0.04496884110121612
  (0, 17865)	0.017256531654190593
  (0, 90341)	0.03105680517004164
  (0, 74853)	0.02082400265645475
  (0, 85304)	0.03988488405631119
  (0, 53112)	0.022394290284441797
  (0, 11647)	0.029271577051693667
  (0, 79195)	0.030013189152808192
  (0, 61598)	0.03408468034651068
  (0, 7691)	0.027269094419320496
  (0, 85756)	0.05280877786135055
  (0, 69541)	0.057233654192199904
  (0, 25862)	0.020742270707811435
  (0, 55966)	0.015587636914320163
  (0, 75804)	0.05950736860608806
  (0, 66349)	0.03134083703965894
  (0, 38698)	0.020562102439759797
  (0, 21517)	0.043620845960964785
  (0, 23508)	0.027691511803574046
  (0, 13535)	0.019286447717255347
  :	:
  (33672, 61598)	0.02646881936874154
  (33672, 25862)	0.016107629911183963
  (33672, 55966)	0.024209488936158118
  (33672, 13535)	0.014977095155447727
  (33672, 37254)	0.03582718255787944
  (33672, 22501)	0.0438387903226539
  (33672, 89341)	0.020392260820694653
  (33672, 8250)	0.03024636802649929
  (33672, 10804)	0.020712171060538655
  (33672, 16477)	0.0234075685432653
  (33672, 81895)	0.029563283953301222
  (33672, 45021)	0.01433204826601712
  (33672, 17261)	0.03102546024410309
  (33672, 59560)	0.03784871725950056
  (33672, 19691)	0.02179946698046106
  (33672, 55856)	0.03395101329081929
  (33672, 22045)	0.018429165912880886
  (33672, 66542)	0.021196046519816446
  (33672, 57600)	0.028507921127942617
  (33672, 88769)	0.05765267243241567
  (33672, 25197)	0.022889276002399775
  (33672, 33549)	0.03836054585612337
  (33672, 60604)	0.01650514523458301
  (33672, 37958)	0.037912024055203414
  (33672, 70069)	0.011836830297698725

### LOGISTIC REGRESSION

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [32]:
model_1 = LogisticRegression(max_iter = 9000)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test, pred_1)
print(cr1*100)

98.79732739420936

### PASSIVE AGGRESSIVE CLASSIFIER

In [33]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [34]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print("The accuracy of prediction is", accscore*100)

The accuracy of prediction is 99.64365256124722